@import 'nib'

html, body
  color #999
  background-image url("../images/bg.jpg")
  background-position center
  background-repeat repeat
  background-attachment fixed

#container
    width 780px
    margin auto
    margin-top 60px

::selection
    background: #ccc
    color: #333
