<header id="header" class="header header--fixed hide-from-print" role="banner">
    <nav id="nav">
        <div class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <li class="dropdown">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">DropDown<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="">
                      <a href="http://v2.bootcss.com/getting-started.html" target="_blank">起步</a>
                    </li>
                    <li class="">
                      <a href="http://v2.bootcss.com/scaffolding.html" target="_blank">脚手架</a>
                    </li>
                    <li class="">
                      <a href="http://v2.bootcss.com/base-css.html" target="_blank">基本CSS样式</a>
                    </li>
                    <li class="">
                      <a href="http://v2.bootcss.com/components.html" target="_blank">组件</a>
                    </li>
                    <li class="">
                      <a href="http://v2.bootcss.com/javascript.html" target="_blank">JavaScript插件</a>
                    </li>
                    <li class="">
                      <a href="http://v2.bootcss.com/customize.html" target="_blank">定制</a>
                    </li>
                  </ul>
                </li>
                <li><a href="/less" target="_blank">Less</a></li>
                <li><a href="/jquery" target="_blank">jQuery API</a></li>
                <li><a href="/about/">About</a></li>
              </ul>
            </div>
          </div>
        </div>
    </nav>
</header>

<div id="container">
{{outlet}}
</div>

