
<h2 class="welcome-message">Welcome to Tapas with Ember</h2>
<p>
  You are running in the {{env.name}} environment.
</p>

<div class="article-container">
    <section class="">
      {{#each }}
            <article class="article">
                    <div class="inner">
                        2013-10-18
                        <a href="/2013/10/18/Commonly-used-windows-commands.html"> <h3> <center>{{name}}</center> </h3> </a>
                        <br>
                        <p> 
                            {{{value}}}
                             ...  
                            <a href="/2013/10/18/Commonly-used-windows-commands.html">详细内容</a>
                        </p>
                    </div>
            </article>
      {{/each}}
    </section>
</div>
